<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all'" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        @if (ViewData.ContainsKey("SearchTerm"))
        {
            <input type="text" name="searchTerm" id="searchTerm" value=@ViewData["SearchTerm"] />
        }
        else
        {
           <input type="text" name="searchTerm" id="searchTerm" />
        }
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>
    
        // TODO #2 - Loop over jobs dictionary and display all job fields
        @foreach (Dictionary<string, string> job in ViewBag.jobs)
        {
            <p>
                <table class="job-listing">

                    @{int rowIndex = 0; }

                    @foreach (KeyValuePair<string, string> kvp in job)
                    {
                        <tr class="@( rowIndex % 2 == 0 ? "even" : "odd" ) ">
                            <td><b>@kvp.Key</b></td>
                            <td>@kvp.Value</td>
                        </tr>

                        rowIndex++;
                    }

                </table>
            </p>
            
        }
}